body {
    font-family: 'Abel', sans-serif;
}

.blackText{
    color: black;
}

.main-layout{
    overflow: hidden;
}

.side-nav{
    background:rgb(142,79,26);
    color: white;
    width: 220px;
}

.side-nav a{
    text-decoration: none;
    color: white;
}

.side-nav a:hover{
    text-decoration: none;
    color: black;
}

.side-nav a:active{
    text-decoration: none;
    color: black;
}

.login-box {
    right: 15%;
    top: 20%;
    bottom: 20%;
    color: white;
}

#signUpModal .modal-content {
    background:rgba(255,255,255, 0.3);
}

.black-text-link {
    color: #BB2D3B;
    font-weight: bold;
    text-decoration: none;
}

.remember-me:checked{
    background-color: red !important;
}

input.is-valid ~ .form-check-label {
    color: white !important;
}

.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
